@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    .logo {
      background: linear-gradient(115deg, #4d53d3 20.2%, #9246e0 81.46%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .light {
    --bkg: 243, 244, 246;
    --content: 11, 14, 16;
    --border: 16px;
    --bkg-info: 255, 255, 255;
  }
  .dark {
    --bkg: 23, 24, 28;
    --content: 255, 255, 255;
    --border: 16px;
    --bkg-info: 36, 38, 45;
  }
}
